**bin
**obj
**.vs
DentalClinic/DentalClinic.csproj.user
DentalClinic/Web.Debug.config
DentalClinic/Web.Release.config
**/files
**/file
**/publish

bin/

# Visual Studio files
*.suo
*.user
*.sln.docstates

# ReSharper files
_ReSharper.*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Oo]ut/

# NuGet Packages
*/packages/*
!**/packages/*.nupkg
*.nuget.props
*.nuget.targets

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject file
DocProject/buildhelp/

# Click-Once deployment files
publish/
*.publish.xml
*.publish.htm
*.publish.prop

# Publish Web Output
*.Publish.xml

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/