
@{
    ViewBag.Title = "AddFeedback";
    ViewBag.Menu = "manage-content";
    ViewBag.SubMenu = "customer-feedback";
}

@section styles{
    <style>
        .create-product {
            max-width: 70%;
        }

            .create-product .title {
                text-align: center;
                text-transform: uppercase;
                font-size: 30px;
            }

        .form-add {
        }

            .form-add .price {
                margin-top: 10px;
            }

        .create-button {
            width: 100px;
            padding: 5px 5px;
            background-color: #435ebe;
            border-color: #435ebe;
            color: white !important;
            border-radius: 5px;
            cursor: pointer;
        }

        .body {
            margin-top: 20px;
        }

        .main-content {
            padding: 51px !important;
        }
    </style>
}

<div class="body" style="display:flex;">
    <div style="display:flex;flex-direction:column;padding-right:20px; flex: 1;">


        <div class="form-group" id="" >
            <label class="font-weight-semibold" for="name">Tên người đánh giá</label>
            <input type="text" class="form-control" id="CustomerName" placeholder="Nhập tên" required>
        </div>
        <div class="form-group" style="flex: 2;">
            <label class="font-weight-semibold" for="name">Ảnh đại diện </label>
            <div class="preview" style=" width: 150px; height: 150px; background-position: center; background-repeat: no-repeat; background-size: cover; border: .5px solid #d7d7d7; cursor: pointer; background-image: url('/Content/img/pick-image.png');" onclick="ChooseThumbnail(this);"></div>
            <input type="file" style="display:none;" onchange="ChooseThumbnail_OnChange(this);" required />
            <input type="hidden" id="Avatar" />
        </div>
    </div>
    <div style="display:flex;flex-direction:column; padding-right: 20px; flex: 2;">

        <div class="form-group product-property">
            <label class="font-weight-semibold" for="name">Đánh giá</label>
            <textarea class="form-control" aria-label="With textarea" style="resize:none;" placeholder="Nhập lời dánh giá" rows="17" id="Contents"></textarea>
        </div>
    </div>
</div>
<button type="button" onclick="CreateFeedback();" class="btn btn-primary" style="width: 150px;">Thêm đánh giá</button>

@section scripts{
    <script>
        var ChooseThumbnail = function (el) { $(el).siblings('input[type=file]').click(); }
        var ChooseThumbnail_OnChange = function (el) {
            let reader = new FileReader();
            reader.onloadend = function (e) {
                $(el).siblings('input[type=hidden]').val(e.currentTarget.result.substring(e.currentTarget.result.indexOf(',') + 1, e.currentTarget.result.length));
                $(el).siblings('.preview').css('background-image', `url(${e.currentTarget.result})`);
            }
            reader.readAsDataURL(el.files[0])
        }

        const CreateFeedback = async function () {
            let model = {
                CustomerName: $('#CustomerName').val(),
                Avatar: $('#Avatar').val(),
                Contents: $('#Contents').val(),
            };
            const rp = await fetch('/api/adminCustomerFeedback/Insertfeedback', {
                method: 'post',
                headers: Enum.OptionAdminHeaderDefault,
                body: JSON.stringify(model)
            });
            let rs = await rp.json();
            console.log(rs);
            if (rs.status === 'error') if (rs.message !== '' && rs.message !== null) alert(rs.message);
            if (rs.status === 'success') {
                if (rs.message !== '' && rs.message !== null) alert(rs.message);
                window.location.href = '/Admin/CustomerFeedback/Index/';
            }
        }
    </script>
}



