
@{
    ViewBag.Title = "Danh sách dịch vụ";
    ViewBag.Menu = "manage-service";
}

@section styles{
    <style>
        table .table-news {
            width: 100%;
        }

        .table-news thead tr th {
            padding: 0 10px;
        }

        .table-news tbody tr th {
            padding: 7px 10px;
        }

        .table-news tbody tr {
            border-top: 1px solid #435ebe;
        }

        .button-icon {
            display: flex;
            padding: 5px 5px;
        }

        .preview {
            width: 100px;
            height: 100px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: .5px solid #d7d7d7;
            cursor: pointer;
        }

        .news-page-list {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

            .news-page-list > a {
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-size: 13px;
            }

            .news-page-list .news-page.active {
                background-color: #3f87f5;
                color: white;
            }

        .card .pro-search {
            padding: 20px;
            display: flex;
        }

            .card .pro-search .search-keyword {
                width: 400px;
                margin-right: 20px;
            }
    </style>

}

<div class="card">
    <div class="pro-search">
        <div class="search-keyword" id="email-form">
            <input type="text" class="form-control" id="keyword" placeholder="Nhập từ khoá tìm kiếm" onkeypress="SearchKeyPress(event);">
        </div>
        <a class="btn btn-primary" onclick="SearchService();">Tìm kiếm</a>
    </div>
    <div class="list-data" style="padding:20px;">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 15%;" id="Thumbnail">Thumbnail</th>
                    <th style="width: 35%;" id="Name">Tên dịch vụ</th>
                    <th style="width: 20%;" id="ExpectTime">Thời gian dự kiến</th>
                    <th style="width: 20%;" id="Price">Giá dịch vụ</th>
                    <th style="width: 10%; text-align: right;"><button class="btn btn-primary" onclick="AddService();">Thêm</button></th>
                </tr>
            </thead>
            <tbody id="list-news">
            </tbody>
        </table>

    </div>
</div>

<div class="news-page-list">
</div>



@section scripts{
    <script>
        const OpenModal = function () {
            $('#modal-insert').css('display', 'flex');
        }
        const LoadListService = async function (page = 1) {
            _currentPage = page;
            let keyword = $('#keyword').val();
            keyword = RemoveVietnameseTones(keyword);
            const rq = await fetch('/api/AdminService/GetListService?page=' + page + '&keyword=' + keyword, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            const rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;
            console.log(rs);

            $('.news-page-list').html('');
            for (let page = 1; page <= rs.data.TotalPage; page++) {
                $('.news-page-list').append(`<a onclick="LoadListService(${page});" data-page="${page}" class="news-page ${_currentPage === page ? 'active' : ''}" id="page-num">${page}</a>`);
            }
            $("#list-news").html('')
            for (let i = 0; i < rs.data.ListService.length; i++) {
                $('#list-news').append(`<tr>
                                        <td><div class="preview" style="background-image:url(${rs.data.ListService[i].Thumbnail})"></div></td>
                                        <td>${rs.data.ListService[i].Name}</td>
                                        <td>${rs.data.ListService[i].ExpectTime} (Phút) </td>
                                        <td>${NumberFormat(rs.data.ListService[i].Price)}</td>
                                        <td>
                                            <div class="button-icon">
                                                <a><button class="btn btn-primary" style="margin-right:7px;" data-id="${rs.data.ListService[i].ServiceId}" onclick="UpdateService(this);"><i class="fa-regular fa-pen-to-square"></i></button></a>
                                                <a><button class="btn btn-danger" data-id="${rs.data.ListService[i].ServiceId}" onclick="DeleteService(this);"><i class="fa-solid fa-trash"></i></button></a>
                                            </div>

                                        </td>
                                </tr>`)
            }
        }

        const LoadDataService = async function (el) {
            const id = $(el).data('id');

            //lay du lieu tu api
            const rq = await fetch('/api/AdminService/GetServiceById?id=' + id);

            const rs = await rq.json();

            if (CheckErrorResponse(rs) === false) return;
            $('#Thumbnail').val(rs.data.Thumbnail);
            $('#Name').val(rs.data.Name);
            $('#ExpectTime').val(rs.data.ExpectTime);
            $('#Price').val(rs.data.Price);

        }


        const AddService = async function () {
            window.location.href = ('/admin/Service/AddService/');
        }

        const UpdateService = async function (el) {
            let id = $(el).data('id');
            window.location.href = ('/admin/Service/UpdateService?id=' + id);
            if (rs.status === 'error') if (rs.message !== '' && rs.message !== null) alert(rs.message);
            if (rs.status === 'success') {
                if (rs.message !== '' && rs.message !== null) alert(rs.message);
            }
        }
        const DeleteService = async function (el) {
            if (confirm('Bạn có chắc muốn xóa dịch vụ này?')) {
                let id = $(el).data('id');
                let rp = await fetch('/api/AdminService/DeleteService?serviceId=' + id, {
                    method: 'get',
                    headers: Enum.OptionAdminHeaderDefault
                });
                let rs = await rp.json();

                if (rs.status === 'error') if (rs.message !== '' && rs.message !== null) alert(rs.message);
                if (rs.status === 'success') {
                    if (rs.message !== '' && rs.message !== null) alert(rs.message);
                    alert('Xoá dịch vụ này thành công');
                    window.location.reload();
                }
            }
        }
        LoadListService();
        const SearchService = function () {
            LoadListService();
        }

        const SearchKeyPress = function (event) {
            if (event.keyCode == 13) {
                LoadListService();
            }
        }
    </script>
}