
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        /* body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url('/Content/img/rooms/4.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }*/

        select, option {
            cursor: pointer;
        }

        .wrapper {
            position: relative;
            width: 600px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid grey;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            margin: auto;
        }

            .wrapper .form-box {
                width: 100%;
                padding: 30px 40px;
            }

        .form-box h2 {
            font-size: 2em;
            color: #162938;
            text-align: center;
        }

        .footer-form {
            display: flex;
            justify-content: center;
        }

        .btn-register {
            width: 100px;
            height: 45px;
            background-color: #162938;
            border: none;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1em;
            color: #fff;
            font-weight: 500;
            align-items: center;
            margin-top: 20px;
        }

        .login-register {
            font-size: .9em;
            color: #162938;
            text-align: center;
            font-weight: 500;
            margin: 25px 0 10px;
        }

            .login-register p a {
                color: #162938;
                text-decoration: none;
                font-weight: 600;
            }

                .login-register p a:hover {
                    text-decoration: underline;
                }

        .form-group {
            padding-top: 10px;
        }

        label {
            margin-bottom: 0px !important;
        }

        .date-hour-form {
            display: flex;
            gap: 20px;
        }

        .btn i {
            font-size: 16px;
        }

        .list-service-pick {
            display: flex;
            flex-direction: column;
        }

            .list-service-pick .item-pick {
                display: flex;
                align-items: center;
                font-weight: 600;
                padding: 5px 10px;
            }

                .list-service-pick .item-pick .icon-left {
                    flex: .5;
                }

                .list-service-pick .item-pick .content {
                    flex: 2;
                    display: flex;
                    justify-content: flex-start;
                }

                .list-service-pick .item-pick .button-delete {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 25px;
                    color: red;
                    padding: 0;
                    margin: 0;
                }

                    .list-service-pick .item-pick .button-delete:hover {
                        background-color: #cdcdcd;
                        animation: .2s ease-in-out;
                    }

        .btn-change-password {
            width: 150px;
            height: 40px;
            background-color: #162938;
            border: none;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1em;
            color: #fff;
            font-weight: 500;
            align-items: center;
            margin-top: 20px;
        }
    </style>
}

<!-- Content Area -->
<div class="content-area contact-page">
    <div class="wrapper">
        <div class="form-box register">
            <h2>Đổi mật khẩu</h2>
            <div>
                <div class="form-group" id="">
                    <label class="font-weight-semibold" for="name">Mật khẩu hiện tại</label>
                    <input type="password" class="form-control" id="oldPassword" placeholder="Nhập mật khẩu hiện tại" required>
                </div>
                <div class="form-group" id="">
                    <label class="font-weight-semibold" for="name">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Nhập mật khẩu mới" required>
                </div>
                <div class="form-group" id="">
                    <label class="font-weight-semibold" for="name">Xác nhận mật khẩu mới</label>
                    <input type="password" class="form-control" id="confirmNewPassword" placeholder="Xác nhận mật khẩu mới" required>
                </div>
                <div style="display: flex; justify-content: center;"><button class="btn-change-password" onclick="ChangePasswordOnClick();"> Đổi mật khẩu</button></div>
            </div>
        </div>
    </div>
</div><!-- Content Area End-->
@section scripts{
    <script src="~/Content/assets/js/base64.js"></script>
    <script>
        $('#newPassword, #confirmPassword').on('keyup', function () {
            if ($('#newPassword').val() == $('#confirmPassword').val()) {
                $('#message').html('Xác nhận mật khẩu đã khớp').css('color', 'green');
            } else
                $('#message').html('Xác nhận mật khẩu chưa khớp').css('color', 'red');
        });

        const ChangePasswordOnClick = async function () {
            let userData = (GetCookie('UserToken'));
            let model = {
                Password: $('#oldPassword').val(),
                NewPassword: $('#newPassword').val()
            }
            let rq = await fetch(Enum.ApiUrl + '/api/User/ChangePassword', {
                method: 'post',
                headers: Enum.OptionHeaderDefault,
                body: JSON.stringify(model)
            });

            let rs = await rq.json();

            if (CheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                Swal.fire({
                    icon: "success",
                    title: "Đã cập nhật mật khẩu thành công",
                    preConfirm: function () { window.location.href = '/'; },
                })
            }
        }
    </script>
}
