
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Slider{
    <!-- Banner Area -->
    <div class="banner-area" data-background="/Content/assets/images/others/banner.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12 my-auto text-center">
                    <div class="banner-content">
                        <h2 class="banner-title">Contact Us</h2>

                        <div class="breadcrumb-container">
                            <span><a href="index.html">Home</a></span>
                            //
                            <span class="current-item">Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End-->
}
<!-- Site Content Wrapper -->
<div class="site-content">

    <!-- Content Area -->
    <div class="content-area contact-page">

        <section class="wrd-contact-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrd-section-title-wrapper">
                            <div class="wrd-section-title-content wrd-secondary-font">
                                <div class="wrd-section-title-bg-text ">Contact</div>
                                <div class="wrd-section-subtitle wrd-primary-color">Get IN Touch</div>
                                <div class="wrd-section-title">
                                    <h2>Feel Free To Contact</h2>
                                </div>
                                <div class="title-bottom-line" data-background="assets/images/others/line.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-details container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="wrd-contact-details-box wrd-transition">
                            <div class="wrd-contact-details-box-icon wrd-transition wrd-primary-color">
                                <i aria-hidden="true" class="flaticon-telephone-1"></i>
                            </div>

                            <h4 class="wrd-contact-box-title wrd-transition">Phone:</h4>

                            <ul>
                                <li><a href="tel:1234567890">+410 123 456 789</a></li>
                                <li><a href="tel:1234567890">+410 987 654 321</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="wrd-contact-details-box wrd-transition">
                            <div class="wrd-contact-details-box-icon wrd-transition wrd-primary-color">
                                <i aria-hidden="true" class="wrd-icon flaticon-maps-and-flags"></i>
                            </div>

                            <h4 class="wrd-contact-box-title wrd-transition">Address:</h4>

                            <p>Haltenstrase, Lugaggia. Switzerland - 6953</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="wrd-contact-details-box wrd-transition">
                            <div class="wrd-contact-details-box-icon wrd-transition wrd-primary-color">
                                <i aria-hidden="true" class="wrd-icon flaticon-mail-inbox-app"></i>
                            </div>

                            <h4 class="wrd-contact-box-title wrd-transition">Email:</h4>

                            <ul>
                                <li><a href="mailto:no@wrapdiv.com">noreplay@wrapdiv.com</a></li>
                                <li><a href="mailto:replay@themedraft.com">replay@wrapdiv.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrd-contact-form-two-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 wrd-form-img-col">
                        <div class="wrd-form-left-image wrd-cover-bg" data-background="assets/images/others/form-left-image.jpg"></div>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12 wrd-form-col">
                        <div class="wrd-contact-form-container wrd-form-style-two">
                            <div class="form-icon">
                                <i class="flaticon-nurse"></i>
                            </div>

                            <div class="wrd-section-title-wrapper left">
                                <div class="wrd-section-title-content wrd-secondary-font">
                                    <div class="wrd-section-subtitle wrd-secondary-color">Book Now</div>
                                    <div class="wrd-section-title">
                                        <h2>Make An Appointment To Book Your Seat</h2>
                                    </div>
                                    <div class="title-bottom-line" data-background="assets/images/others/line.png"></div>
                                </div>
                            </div>

                            <div class="wrapdiv-contact-form-container">
                                <form action="https://demo.wrapdiv.com/html/doctio/index.html">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="wrd-form-control-wrapper">
                                                <input type="text" name="patient-name" placeholder="Name*" required="">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="wrd-form-control-wrapper">
                                                <input type="email" name="patient-email" placeholder="Email*" required="">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="wrd-form-control-wrapper select-arrow">
                                                <select name="servicetype" aria-label="services">
                                                    <option value="Choose A Service">Choose A Service</option>
                                                    <option value="Health Care">Health Care</option>
                                                    <option value="Neuro Care">Neuro Care</option>
                                                    <option value="ENT Care">ENT Care</option>
                                                    <option value="Gynaecology">Gynaecology</option>
                                                    <option value="Urology">Urology</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="wrd-form-control-wrapper select-arrow">
                                                <select name="doctorslist" aria-label="doctorslist">
                                                    <option value="Select Doctors">Select Doctors</option>
                                                    <option value="Md Nadim Khan">Md Nadim Khan</option>
                                                    <option value="Md Imran Khan">Md Imran Khan</option>
                                                    <option value="Shafiqur Rahman">Shafiqur Rahman</option>
                                                    <option value="Shafiul Amin">Shafiul Amin</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="wrd-form-control-wrapper">
                                                <input type="date" name="bookingdate" value="" class="wrd-booking-date" aria-label="bookingdate">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="wrd-form-control-wrapper select-arrow">
                                                <select name="branches" aria-label="branches">
                                                    <option value="Select Doctors">New York</option>
                                                    <option value="Md Nadim Khan">Los Angeles</option>
                                                    <option value="Md Imran Khan">New Jersey</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <button class="wrd-button" type="submit">SUBMIT NOW<i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div><!-- Content Area End-->
</div><!-- Site Content Wrapper End -->
