
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Menu = "contact";
}
@section Slider{
    <!-- Banner Area -->
    <div class="banner-area" data-background="/Content/assets/images/others/banner.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12 my-auto text-center">
                    <div class="banner-content">
                        <h2 class="banner-title">Liên hệ</h2>

                        <div class="breadcrumb-container">
                            <span><a href="/">Trang chủ</a></span>
                            //
                            <span class="current-item">Liên hệ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End-->
}
<!-- Site Content Wrapper -->
<div class="site-content">

    <!-- Content Area -->
    <div class="content-area contact-page">

        <section class="wrd-contact-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrd-section-title-wrapper">
                            <div class="wrd-section-title-content wrd-secondary-font">
                                <div class="wrd-section-title-bg-text ">Liên hệ</div>
                                <div class="wrd-section-title">
                                    <h2>Liên hệ với chúng tôi</h2>
                                </div>
                                <div class="title-bottom-line" data-background="assets/images/others/line.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-details container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="wrd-contact-details-box wrd-transition">
                            <div class="wrd-contact-details-box-icon wrd-transition wrd-primary-color">
                                <i aria-hidden="true" class="flaticon-telephone-1"></i>
                            </div>

                            <h4 class="wrd-contact-box-title wrd-transition">Phone:</h4>

                            <ul>
                                <li><a href="tel:1234567890">0365186564</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="wrd-contact-details-box wrd-transition">
                            <div class="wrd-contact-details-box-icon wrd-transition wrd-primary-color">
                                <i aria-hidden="true" class="wrd-icon flaticon-maps-and-flags"></i>
                            </div>

                            <h4 class="wrd-contact-box-title wrd-transition">Address:</h4>

                            <p>Số 16, ngách 2, ngõ 343, phố Đội Cấn, P. Liễu Giai, Q. Ba Đình, TP Hà Nội</p>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="wrd-contact-details-box wrd-transition">
                            <div class="wrd-contact-details-box-icon wrd-transition wrd-primary-color">
                                <i aria-hidden="true" class="wrd-icon flaticon-mail-inbox-app"></i>
                            </div>

                            <h4 class="wrd-contact-box-title wrd-transition">Email:</h4>

                            <ul>
                                <li><a href="mailto:no@wrapdiv.com">thaovu13092001@gmail.com</a></li>
                                <li><a href="mailto:replay@themedraft.com">nhakhoaphuongthao@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        


    </div><!-- Content Area End-->
</div><!-- Site Content Wrapper End -->
